<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aura's Checkout</title>
    <link rel="stylesheet" href="/files/css/checkout.css">
    <style>
        .listP img {
            max-width: 100px; /* Ajusta el tamaño según sea necesario */
            height: auto; /* Mantiene la proporción */
        }
    </style>
</head>
<body>
    
<div class="container">

    <div class="checkoutLayout">

        <div class="returnCart">
            <div class="container-logo">
                <h1 class="logo"><a href="/">Seguir Comprando</a></h1>
            </div>

            <div class="listP">
                <h1 class="h">Productos del Carro</h1>

                {{#each productosCarrito}}
                <div class="item">
                    {{#if this.imagen_url}} <!-- Verifica si la URL de la imagen existe -->
                        <img src="{{this.imagen_url}}" alt="{{this.nombre}}" onerror="this.onerror=null; this.src='/images/imagen-no-disponible.jpg'"> <!-- Cambia a una imagen por defecto si falla -->
                    {{else}}
                        <img src="/images/imagen-no-disponible.jpg" alt="Imagen no disponible"> <!-- Imagen por defecto -->
                    {{/if}}
                    <div class="info">
                        <div class="name">{{this.nombre}}</div>
                        <div class="price">${{this.precio}}</div>
                    </div>
                    <div class="quantity">Cantidad: {{this.cantidad}}</div>
                    <div class="returnPrice">${{this.total_producto}}</div>

                    <!-- Formulario para eliminar el producto -->
                    <form action="/checkout/remove/{{this.id}}" method="POST"> <!-- Cambiado 'producto.id' a 'this.id' -->
                       <button type="submit">Eliminar</button>
                    </form>
                </div>
                {{else}}
                    <div>No hay productos en el carrito.</div> <!-- Mensaje si no hay productos -->
                {{/each}}
                
            </div>
                
        </div>

        <div class="right">
            <h1>Checkout</h1>

            <div class="form">
                <div class="group">
                    <label for="name">Nombre Completo</label>
                    <input type="text" name="name" id="name" required>
                </div>
    
                <div class="group">
                    <label for="phone">Número de Celular</label>
                    <input type="text" name="phone" id="phone" required>
                </div>
    
                <div class="group">
                    <label for="address">Dirección</label>
                    <input type="text" name="address" id="address" required>
                </div>
    
                <div class="group">
                    <label for="country">Región</label>
                    <select name="country" id="country" required>
                        <option value="">Elige..</option>
                        <option value="Arica y Parinacota">Arica y Parinacota</option>
                        <option value="Tarapaca">Tarapaca</option>
                        <option value="Antofagasta">Antofagasta</option>
                        <option value="Atacama">Atacama</option>
                        <option value="Coquimbo">Coquimbo</option>
                        <option value="Valparaiso">Valparaiso</option>
                        <option value="Metropolitana">Metropolitana</option>
                        <option value="Libertador Bernardo O'higgins">Libertador Bernardo O'Higgins</option>
                        <option value="Maule">Maule</option>
                        <option value="Ñuble">Ñuble</option>
                        <option value="BioBio">BioBio</option>
                        <option value="Araucania">Araucania</option>
                        <option value="Los Rios">Los Rios</option>
                        <option value="Los Lagos">Los Lagos</option>
                        <option value="Aysen">Aysen</option>
                        <option value="Magallanes y Antartica">Magallanes y Antartica</option>    
                    </select>
                </div>
    
                <div class="group">
                    <label for="city">Ciudad</label>
                    <select name="city" id="city" required>
                        <option value="">Elige..</option>
                        <option value="Santiago">Santiago</option>
                    </select>
                </div>
            </div>

            <div class="return">
               <!-- <div class="row">
                    <div>Cantidad Total</div>
                    <div class="totalQuantity">{{productosCarrito.length}}</div>
                </div> -->
                <div class="row">
                    <div>Precio Total</div>
                    <div class="totalPrice">${{totalPrice}}</div>
                </div>
            </div>

            <!-- <form action="/checkout" method="POST" onsubmit="return validateForm()">
                <button class="buttonCheckout" type="submit">Pagar</button>
            </form> -->
            <!-- Botón de Pago en tu archivo de vista, por ejemplo, en checkout.handlebars -->
            {{#if error }}
            <div class="error-message" style="color: red;">
                {{error}}
            </div>
            {{/if}}
            <button class="buttonCheckout" onclick="payCart()">Pagar</button>


            
        </div>
    </div>

    <script src="checkout.js"></script>
    <script>
        function validateForm() {
            const name = document.getElementById('name').value.trim();
            const phone = document.getElementById('phone').value.trim();
            const address = document.getElementById('address').value.trim();
            const country = document.getElementById('country').value;
            const city = document.getElementById('city').value;

            if (!name || !phone || !address || !country || !city) {
                alert('Por favor, complete todos los campos requeridos.');
                return false; // Evita el envío del formulario
            }
            return true; // Permite el envío del formulario
        }
    </script>

    <script>
    // Aquí va la función JavaScript payCart
function payCart() {
  fetch('/cart/pay', {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json',
      }
  })
  .then(function(response) {
      if (response.ok) {
          alert("Compra realizada con éxito");
          // Recargar la página para mostrar el carrito vacío
          window.location.href = '/checkout';
      } else {
          alert("No se pudo realizar la compra, saldo insuficiente o stock insuficiente.");
      }
  })
  .catch(function(error) {
      console.error("Error al procesar el pago:", error);
  });
}

    </script>

</body>
</html>
