<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/files/css/formularioedit.css">
    </head>
    <body>

        <section>
            <div class="nav">
                <ul>
                    <li>
                        <a href="/">
                            <span class="icono"><ion-icon name="aperture-outline"></ion-icon></span>
                            <span class="titulo">Aura's</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin">
                            <span class="icono"><ion-icon name="home-outline"></ion-icon></span>
                            <span class="titulo">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Adminperfiles">
                            <span class="icono"><ion-icon name="people-outline"></ion-icon></span>
                            <span class="titulo">Perfiles</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Adminprod">
                            <span class="icono"><ion-icon name="cart-outline"></ion-icon></span>
                            <span class="titulo">Productos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icono"><ion-icon name="information-circle-outline"></ion-icon></span>
                            <span class="titulo">Ayuda</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icono"><ion-icon name="settings-outline"></ion-icon></span>
                            <span class="titulo">Ajustes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/login">
                            <span class="icono"><ion-icon name="log-out-outline"></ion-icon></span>
                            <span class="titulo">Cerrar Sesion</span>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="container">
                <div class="topbar">
                    <div class="toggle">
                        <ion-icon name="menu"></ion-icon>
                    </div> 
                
                    <div class="buscar">
                        <label>
                            <input type="text" placeholder="Buscar..." name="" id="">
                            <ion-icon name="search"></ion-icon>
                        </label>
                    </div>
                    <div class="perfil-usuario">
                        <img src="/files/img/IMG/Sample_User_Icon.png" alt="">
                    </div>
                </div>

                <div class="detalles">
                    <div class="ordenes-recientes">
                        <div class="header">
                            <h2>Editar</h2>
                            <a href="/Adminprod" class="boton">Atras</a>
                        </div>
                        <section class="form-product">
                            <form action="/formularioedit" method="POST">
                                <label for="id_producto">ID del Producto</label>
                                <input class="controls" type="text" name="id" id="id_producto" value="{{this.id}}" placeholder="Ingrese ID del Producto" readonly>

                                <label for="nombre_producto">Nombre del Producto</label>
                                <input class="controls" type="text" name="nombre" id="nombre_producto" value="{{this.nombre}}" placeholder="Ingrese Nombre del Producto" readonly>

                                <label for="stock">Stock</label>
                                <input class="controls" type="number" name="stock" id="stock_producto" value="{{producto.stock}}" placeholder="Ingrese el Stock">

                                <label for="precio">Precio (CLP)</label>
                                <div class="input-container">
                                    <input class="controls money-input" type="number" name="precio" id="precio_producto" value="{{producto.precio}}" placeholder="0" step="1" min="0">
                                </div>

                                <label for="imagen-url">Imagen URL</label>
                                <input type="url" name="imagen_url" id="imagen-url_producto" value="{{producto.imagen_url}}" placeholder="Ingrese la URL de la imagen" required>

                                <label for="fecha">Editar</label>
                                <input class="botons" type="submit" value="Modificar">

                            </form>
                        </section>                        
                    </div>
                </div>  
            </div>    
        </section>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    </body>
</html>
